html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
}


h1 {
    font-size: 28px;
    margin-bottom: 10px;
}

p {
    color: #555;
    font-size: 16px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

th, td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: center;
    font-size: 18px;
}

th {
    background-color: #f2f2f2;
}

/*td {
    background-color: white;
    cursor: pointer;
}

td:hover {
        background-color: #e0e0e0;

}*/
.doctors {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.doctor-card {
    background: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 300px;
    text-align: center;
    transition: transform 0.3s;
}

    .doctor-card:hover {
        transform: scale(1.05);
    }

    .doctor-card img {
        width: 100%;
        height: 250px;
        object-fit: cover;
    }

.doctor-info {
    padding: 15px;
}

    .doctor-info h2 {
        font-size: 20px;
        margin: 10px 0;
    }

    .doctor-info p {
        font-size: 16px;
        color: #666;
        margin: 5px 0;
    }

.btn {
    display: inline-block;
    padding: 10px 15px;
    background: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 10px;
    font-size: 16px;
    transition: background 0.3s;
}

    .btn:hover {
        background: #0056b3;
    }
label {
    display: block;
    font-size: 16px;
    margin-bottom: 5px;
    text-align: left;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}
